.file-list {
    max-height: 300px;
    overflow-y: auto;
    border: 1px solid #ccc;
}

.choosers-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.left-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
