.file-list {
    max-height: 290px;
    overflow-y: auto;
    border: 1px solid #ccc;
}

.choosers-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.setup-container {
    display: flex;
    flex-direction: row;
}

.left-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.result-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
}